@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root,
  .app {
    @apply h-screen w-screen font-noto-san overflow-x-hidden bg-slate-200;
  }
}

@layer components {
  .frame {
    @apply w-[125px] h-[15px] before:top-0 before:left-2 before:absolute before:block before:z-30 before:h-8 before:w-40  after:transform after:translate-y-3 after:left-0 after:content-[''] after:block after:absolute after:w-[145px] after:h-1 after:z-[1];
  }
}

@layer components {
  .button {
    @apply text-base focus:outline-none bg-blue-500 flex items-center justify-center text-white rounded border-yellow-200 hover:bg-blue-300 focus:z-10 active:bg-blue-600 focus:ring-gray-200;
  }
}

@layer components {
  .button-led {
    @apply rounded bg-white border-gray-200 hover:bg-gray-100 focus:bg-yellow-500 focus:ring-gray-200;
  }
}
@layer utilities {
  .transition {
    @apply transition-all ease-in-out duration-300;
  }
}
@layer components {
  .card {
    @apply bg-slate-50 border border-gray-200 rounded shadow;
  }
}

.ant-btn-primary {
  @apply bg-blue-500;
}
